#Banner{
    margin-top: 50px;
  }
  #Banner img{
    width: 100%;
    height: 90%;
  }
  #Banner .Contenedor{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
  }
  #Banner h2{
    margin-top: -150px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(54, 168, 255, 0.834);
  }
  #Banner p{
    color: #fff;
  }
  #Banner a{
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid rgba(187, 193, 230, 0.851);
  }
  #Banner a:hover{
    background: rgba(0, 0, 0, 0.859)
  }
  @media(min-width:480px){
    #Banner h2{
      font-size: 40px;
    }
    #Banner a{
      margin-top: 25px;
    }
  }
  @media (min-width:768px){
    #Banner {
      height: 300px; 
      overflow: hidden;
    }
    #Banner img{
      height: auto;
      margin-top: -100px;
    }
  }
  @media (min-width:1024px){
  
    #Banner img{
      height: auto;
      margin-top: -200px;
    }
  }